*{
    box-sizing: border-box;
    font-size: 1.2rem;
    border:none;
}
body{
    background-color:aliceblue;
    margin: 0;
    border:none;
    text-align: center;
}
.calculator-container{
    display: inline-block;
    width:270px;
    padding:10px 5px;
    background-color: rgb(182, 221, 223);
    border-radius: 10px;
}
.calculator-container *{
    background-color: rgb(182, 221, 223);
    border-radius: 5px;
    margin: 5px;
}
.calculator-container #result{
    width: 240px;
    text-align: right;
    box-shadow: -1px -2px 3px 2px #ffffff inset, 1px 2px 3px 2px #000000 inset;
}
.calculator-container>input[type="button"]{
    width: 50px;
    box-shadow: -1px -2px 3px 2px #ffffff, 1px 2px 3px 2px #000000;
}

.calculator-container>input[type="button"]:hover{
    box-shadow: -1px -2px 3px 2px #ffffff inset, 1px 2px 3px 2px #000000 inset;
}
.calculator-container>input[type="button"]:active{
    background-color: rgb(203, 235, 236);
}
.calculator-container input{
    height: 40px;}